@import "blocks/_header";
@import "blocks/_buttons";
@import "blocks/_pf";
@import "blocks/_about";
@import "blocks/_contacts";
@import 'blocks/_footer';

@import 'modal';
* {
  font-family: 'Inter';
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #D22020;
  }
}
h1 {
  display: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 32px;

  @media (max-width: 867px) {
    padding: 24px 16px;    
  }
}

.min {
  @media (max-width: 867px) {
    display: none;
  }
}